/*ACA ESTA EL FONDO DEL INDEX Y DEL CATALOGO DE HOTELES*/

body{
    background: url(../../IMG/Index/fondo2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
